%h2 Повторная отправка инструкций по разблокировке

= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| 
  = devise_error_messages! 
  
  %div
    = f.label :email
    = f.email_field :email

  %div= f.submit "Выслать письмо с инструкциями"

= render "devise/shared/links"
