= form_for(@spread, :html => { :class => "spread_form"}) do |f|
  -if @spread.errors.any?
    #error_explanation
      %h2= "Следующие ошибки препятствуют сохранению расклада:"
      %ul
        - @spread.errors.full_messages.each do |msg|
          %li= msg
  .post-body
    .field
      = f.label :client_id
      = f.select :client_id, @all_clients, {:selected => @for_client|| if(@spread.client != nil) then @spread.client.id end ||''}
      = f.label :name
      = f.text_field :name
    .field
      = f.label :date
      = f.date_select :date
  .field
    %div#editor-container
    = f.hidden_field :structure
  .field.post-body
    = f.label :comment
    = f.text_area :comment
  .field.post-body
    = f.label :feedback
    = f.text_area :feedback
  .actions
    = f.submit 'Сохранить расклад'
= button_to 'Отмена', :back, :method => :get
:javascript
  $(document).ready(function () {      
    var editor = new Editor('#editor-container', $('#spread_structure').val());
    $('.spread_form').bind('submit', function() {
      $('#spread_structure').val(editor.exportJSON());
    });
  });