= form_for @spread do |f|
  -if @spread.errors.any?
    #error_explanation
      %h2= "Следующие ошибки препятствуют сохранению расклада:"
      %ul
        - @spread.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :client_id
    = f.select :client_id, @all_clients, {:selected => @for_client||@spread.client.id ||''}
    = f.label :name
    = f.text_field :name
  .field
    = f.label :date
    = f.date_select :date
  .field
    %div#editor-container
    = f.label :structure
    = f.text_field :structure
  .field
    = f.label :comment
    = f.text_area :comment
  .field
    = f.label :feedback
    = f.text_area :feedback
  .actions
    = f.submit 'Сохранить расклад'
= button_to 'Отмена', :back, :method => :get
:javascript
  $(document).ready(function () {      
    var editor = new Editor('#editor-container');
  });