%h1= @spread.name

%p#notice= notice

%p
  %strong=t("helpers.label.spread.client_id") + ':'
  = link_to @spread.client.name, client_path(@spread.client)
%p
  %strong=t("helpers.label.spread.date") + ':'
  = @spread.date
%p
  %img{:src => @spread.image}
%div#descriptions
  %ol
    -@structure['positions'].each do |position|
      %li
        %span.position-title=position['description']
        \:
        %span.position-card=position['card']['name']
        \-
        %span.position-value=position['card']['value']
%p
  %strong=t("helpers.label.spread.comment") + ':'
  = @spread.comment
%p
  %strong=t("helpers.label.spread.feedback") + ':'
  = @spread.feedback

= link_to 'Редактировать расклад', edit_spread_path(@spread)
\|
= link_to 'Все расклады для этого клиента', client_path(@spread.client)
\|
= link_to 'Список всех раскладов', spreads_path
