= form_for @client do |f|
  -if @client.errors.any?
    #error_explanation
      %h2= "Следующие ошибки препятствуют сохранению клиента:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, t("helpers.label.client.name")
    = f.text_field :name
  .field
    = f.label :comment, t("helpers.label.client.comment")
    = f.text_area :comment
  .field
    = f.label :start_date, t("helpers.label.client.start_date")
    = f.date_select :start_date
  .actions
    = f.submit 'Сохранить клиента'

= button_to 'Отмена', :back, :method => :get