= form_for @client do |f|
  -if @client.errors.any?
    #error_explanation
      %h2= "Следующие ошибки препятствуют сохранению клиента:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= t(msg)

  .field
    = f.label :name, t(:name)
    = f.text_field :name
  .field
    = f.label :comment, t(:comment)
    = f.text_area :comment
  .actions
    = f.submit 'Save'
