%h1 Список клиентов

= form_tag clients_path, :method => :get do
  Фильтр: 
  = text_field :filter, :name
  = hidden_field_tag 'sort', @sort_column
  = submit_tag 'Применить', :id => 'filter_apply'
  
%a#drop_filters{:href => clients_path({:drop_filters => '1'})} Сбросить фильтры

%table#clients
  %thead
    %tr
      %th{:class => (@sort_column == 'name'? 'sort_column' : '')} 
        %a#name_header{:href => sort_clients_path('name')} Имя
      %th Комментарий
      %th
      %th
      %th
  %tbody
    - @clients.each do |client|
      %tr
        %td= link_to client.name, client
        %td= client.comment
        %td= link_to 'Редактировать', edit_client_path(client), :id => 'edit_client_' + client.id.to_s
        %td= button_to 'Удалить', client, :method => :delete, :confirm => 'Вы уверены, что хотите удалить этого клиента из базы?', :id => 'delete_client_' + client.id.to_s

%br

= link_to 'Добавить клиента', new_client_path