%div#clients_filter
  = form_tag clients_path, :method => :get do
    Сортировать по:
    = select_tag 'sort', options_for_select({'порядку добавления' => 'id', 'имени' => 'name', 'дате начала работы' => 'start_date'}, @sort_column)
    %br
    Фильтр: 
    = text_field :filter, :name
    = submit_tag 'Применить', :id => 'filter_apply'
  = link_to 'Сбросить фильтры', clients_path({:drop_filters => '1'}), :method => :get
= button_to 'Добавить клиента', new_client_path, :method => :get, :class => 'add_button'

- @clients.each do |client|
  %div.post-short
    %div.post-body
      %h3.entry-title= link_to client.name, client
      %h2.date-header
        Начало работы:
        = client.start_date
        , раскладов:
        = client.spreads.length
      %div.client-comment   
        = client.comment
    %div.post-footer
      = link_to 'Редактировать', edit_client_path(client), :id => 'edit_client_' + client.id.to_s
      \| 
      = link_to 'Удалить', client, :method => :delete, :confirm => 'Вы уверены, что хотите удалить этого клиента?', :id => 'delete_client_' + client.id.to_s
= paginate @clients

-if(@clients.length == 0)
  %div.post
    %div.post-body 
      В систему пока не добавлено ни одного клиента. Возможно, вы 
      =link_to 'хотите это сделать?', new_client_path
  

