= button_to 'Добавить клиента', new_client_path, :method => :get

%div#clients_filter
  = form_tag clients_path, :method => :get do
    Фильтр: 
    = text_field :filter, :name
    = hidden_field_tag 'sort', @sort_column
    = submit_tag 'Применить', :id => 'filter_apply'
  
%a#drop_filters{:href => clients_path({:drop_filters => '1'})} Сбросить фильтры

- @clients.each do |client|
  %div.post-short
    %div.post-body
      %h3.entry-title= link_to client.name, client
      %h2.date-header
        Начало работы:
        = client.start_date
        , раскладов:
        = client.spreads.length
      %div.client-comment   
        = client.comment
    %div.post-footer
      = link_to 'Редактировать', edit_client_path(client), :id => 'edit_client_' + client.id.to_s
      \| 
      = link_to 'Удалить', client, :method => :delete, :confirm => 'Вы уверены, что хотите удалить этого клиента из базы?', :id => 'delete_client_' + client.id.to_s


