%h1= @client.name

%p#notice= notice

%p
  %strong= t("helpers.label.client.start_date") + ':'
  = @client.start_date

%p
  %strong= t("helpers.label.client.comment") + ':'
  %br
  = raw @client.print_comment
  
- if(@client.spreads.length == 0) then
  %p Для этого клиента пока не добавлены расклады.
- else
  %h3 Расклады:
  %div#client_spreads
  - @client.spreads.each do |spread|
    %p
      = link_to spread.date.to_s + ':', client_spread_path(@client, spread) 
      = spread.name

= link_to 'Редактировать', edit_client_path(@client)
\|
= link_to 'Создать расклад для этого клиента', new_client_spread_path(@client)
\|
= link_to 'Вернуться к списку клиентов', clients_path
