%h3.entry-title Вход в систему
%div.post  
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
    = devise_error_messages!
    %div.post-body
      %div
        = f.label :email
        = f.email_field :email
    
      %div
        = f.label :password 
        = f.password_field :password
    
      -if devise_mapping.rememberable? 
        %div.remember_user
          = f.check_box :remember_me
          = f.label :remember_me 
  
    %div= f.submit "Войти", {:id => 'login_button'}
  %div.post-footer
    = render "devise/shared/links"
