= form_for @interpretation do |f|
  - if @interpretation.errors.any?
    #error_explanation
      %h2= "Следующие ошибки препятствуют сохранению трактовки:"
      %ul
        - @interpretation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.hidden_field :card_code, {:value => @card_code}
  .field
    = f.label :text
    = f.text_area :text
  .actions
    = f.submit 'Сохранить'
