%h3.entry-title Толкования карт
%div.post
  %div.post-body 
    %table.spreads-table
      %tr
        %th Карта
        %th.col-interpretation Толкование
        %th
    
      - common_deck_structure.each do |card_code, card_name|
        %tr
          %td= card_name
          - current_interpretation = @interpretations.detect {|interpretation| interpretation.card_code == card_code }
          -if current_interpretation
            %td= current_interpretation.text
            %td
              = link_to 'Редактировать', edit_interpretation_path(current_interpretation)
              %br
              = link_to 'Удалить', current_interpretation, method: :delete, data: { confirm: 'Вы действительно хотите удалить эту трактовку?' }
          -else
            %td (не добавлено)
            %td= link_to 'Добавить', new_interpretation_path({:card_code => card_code})
