%p#notice= notice

%p
  %b Text:
  = @interpretation.text
%p
  %b Card code:
  = @interpretation.card_code

= link_to 'Edit', edit_interpretation_path(@interpretation)
\|
= link_to 'Back', interpretations_path
