!!!
- site_title = "Блокнот Таролога"
- site_description = "Организуйте свои расклады и своих кверентов онлайн"
%html
  %head
    %title= site_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div#body2
      %div#outer-wrapper
        %div#wrap2
          %div#header-wrapper
            %div#header.header.section
              %div#Header1.widget.Header
                %div#header-inner
                  %div.titlewrapper
                    %h1.title= link_to site_title, root_url
                  %div.descriptionwrapper
                    %p.description
                      %span= site_description
            %div#menu.menu.section
              =render "global/menu"
          %div#content-wrapper
            %div#main-wrapper 
              %div#main-t
                =render "global/top_banner"
              %div#main.section
                %div.widget
                  %p#notice= notice
                  =yield
            %div#sidebar-wrapper
              %div#search
              %div#sidebar.sidebar.section
                =render "global/sidebar"
              %div#sidebar-b
            %div.clear
      %div#footer-wrapper
        %div#footer.footer.section
        %div#credits           
          %p
            Разработка &copy;2012 Ad Astra
            %br
            Дизайн &copy; 2010 
            %a{ :href=> "http://victorianstyle-splashy.blogspot.ru/"} Victorian Style
            %br
            %a{:title => "Victorian Blogger Templates", :href=> "http://www.splashytemplates.com/"} Victorian Blogger Templates
            &
            %a{:title => "Photography Logos", :href=> "http://www.photographylogos.net/"} Photography Logos
